scripts/n8n-social-publish-workflow.json
{
  "name": "VTV Social Media Publisher",
  "nodes": [
    {
      "parameters": {
        "path": "social-publish",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "id": "instagram",
              "leftValue": "={{ $json.platform }}",
              "rightValue": "instagram",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "route-instagram",
      "name": "Is Instagram?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [470, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "id": "facebook",
              "leftValue": "={{ $json.platform }}",
              "rightValue": "facebook",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "route-facebook",
      "name": "Is Facebook?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [470, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "id": "twitter",
              "leftValue": "={{ $json.platform }}",
              "rightValue": "twitter",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "route-twitter",
      "name": "Is Twitter?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [470, 600]
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v19.0/{{ $env.INSTAGRAM_BUSINESS_ACCOUNT_ID }}/media",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "caption",
              "value": "={{ $('Webhook').item.json.content }}"
            },
            {
              "name": "access_token",
              "value": "={{ $env.META_ACCESS_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "id": "instagram-create",
      "name": "Instagram Create Media",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 100],
      "notes": "Creates a media container on Instagram. For image posts, add 'image_url' parameter. For text-only carousel captions, this creates the container."
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v19.0/{{ $env.INSTAGRAM_BUSINESS_ACCOUNT_ID }}/media_publish",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "creation_id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "access_token",
              "value": "={{ $env.META_ACCESS_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "id": "instagram-publish",
      "name": "Instagram Publish",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, 100]
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v19.0/{{ $env.FACEBOOK_PAGE_ID }}/feed",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $('Webhook').item.json.content }}"
            },
            {
              "name": "access_token",
              "value": "={{ $env.META_ACCESS_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "id": "facebook-post",
      "name": "Facebook Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 350]
    },
    {
      "parameters": {
        "url": "https://api.twitter.com/2/tweets",
        "authentication": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $('Webhook').item.json.content.substring(0, 280) }) }}",
        "options": {}
      },
      "id": "twitter-post",
      "name": "Twitter Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 550],
      "credentials": {
        "oAuth2Api": {
          "id": "twitter-oauth2",
          "name": "Twitter OAuth2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, platform: $('Webhook').item.json.platform, published: true }) }}"
      },
      "id": "respond-success",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1140, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: false, platform: $('Webhook').item.json.platform, error: 'Unknown platform' }) }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "respond-unknown",
      "name": "Unknown Platform",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [700, 750]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          { "node": "Is Instagram?", "type": "main", "index": 0 },
          { "node": "Is Facebook?", "type": "main", "index": 0 },
          { "node": "Is Twitter?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Is Instagram?": {
      "main": [
        [{ "node": "Instagram Create Media", "type": "main", "index": 0 }],
        []
      ]
    },
    "Is Facebook?": {
      "main": [
        [{ "node": "Facebook Post", "type": "main", "index": 0 }],
        []
      ]
    },
    "Is Twitter?": {
      "main": [
        [{ "node": "Twitter Post", "type": "main", "index": 0 }],
        [{ "node": "Unknown Platform", "type": "main", "index": 0 }]
      ]
    },
    "Instagram Create Media": {
      "main": [
        [{ "node": "Instagram Publish", "type": "main", "index": 0 }]
      ]
    },
    "Instagram Publish": {
      "main": [
        [{ "node": "Success Response", "type": "main", "index": 0 }]
      ]
    },
    "Facebook Post": {
      "main": [
        [{ "node": "Success Response", "type": "main", "index": 0 }]
      ]
    },
    "Twitter Post": {
      "main": [
        [{ "node": "Success Response", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "vtv-social" },
    { "name": "automation" }
  ]
}
